.div {
  text-align: center;
  background-color: #f6f6f8;
  justify-content: center;
  align-self: center;
  padding: 10px 0px 0px 0px;
  & h1 {
    margin: 0;
  }
  @media (max-width: 463px) {
    padding: 37.5px 0px 20vh 0px;

    & .image {
      width: auto;
      height: auto;
    }
  }
}
