.main {
  background-color: #f6f6f8;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(3, auto);
  text-align: center;
  text-decoration: none;

  & a {
    text-decoration: none;
    color: #422800;
  }
}

.div {
  margin: 50px;
  border-radius: 10px;
  color: #422800;
  box-shadow: rgba(66, 40, 0, 1) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.h1 {
  text-align: center;
  margin: 30px;
  color: #422800;
}

.img {
  margin-top: 40px;
}
