*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 21px;
  background-color: #f6f6f8;
  color: var(--main-text-color);
  line-height: 1.5;
  margin: 0px;
}
